.small {
  font-size: .88rem;
}
.medium {
  font-size: 1.1rem;
}
.large {
  font-size: 1.35rem;
}
.tilt {
  transform: rotate(-10deg);
}
.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.icon {
  padding-bottom: .1rem;
  font-size: 1.3em;
  text-align: start;
}
.detail {
  padding-left: .4rem;
  font-size: .75em;
}
